In [1]:
import findspark
findspark.init()

# Initializing SparkSession

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('Python Spark SQL basic example') \
    .config('spark.some.config.option','some-value') \
    .getOrCreate()

# Creating DataFrames

## From RDDs

In [ ]:
from pyspark.sql.types import *
sc = spark.sparkContext
lines = sc.textFile('people.txt')
parts = lines.map(lambda l:l.split(','))
people = parts.map(lambda p: Row(name=p[0],age=int(p[1])))
peopledf = spark.createDataFrame(people)

In [ ]:
people = parts.map(lambda p: Row(name=p[0],age=int(p[1].strip())))
schemaString = 'name age'
fields = [StructField(field_name,StringType(),True) for filed_name in schmaString.split()]
schema = StructType(fileds)
spark.createDataFrame(people,schema).show()

## From Spark Data Sources

In [ ]:
# Json
df = spark.read.json('customer.json')
df.show()

df2 = spark.read.load('people.json',format='json')

In [ ]:
# Parquet
df3 = spark.read.load('users.parquet')

In [ ]:
df4 = spark.read.text('people.text')

## Duplicate Values

In [ ]:
df = df.dropDuplicates()

# Inspect Data

In [ ]:
df.dtypes
df.show()
df.head()
df.first()
df.take(2)
df.schema
df.describe().show()
df.columns
df.count()
df.distinct().count()
df.printSchema()
df.explain()

# Queries

In [9]:
from pyspark.sql import functions as F

## Select

In [ ]:
df.select('firstName').show()
df.select('firstName','lastName').show()
df.select('firstName','age',explode('phoneNumber'),alias('contactInfo')) \
    .selct('contactInfo.type','firstName','age').show()
df.select(df["firstName"],df['age']+1).show()
df.select(df['age']>24).show()

## When

In [ ]:
df.select('firstName',F.when(df.age>30,1).otherwise(0))
df[df.firstName.isin('Jane','Boris')].collect()

## Like

In [ ]:
df.select('firstName',df.lastName.like('Smith')).show()

## Startswith - endswith

In [ ]:
df.select('firstName',df.lastName.startswith('Sm')).show()
df.select(df.lastName.endsiwth('th')).show()

## Substring

In [ ]:
df.select(df.firstName.substr(1,3).alias('name')).collect()

## Between

In [ ]:
df.select(df.age.between(22,34)).show()

# Add Update & Remove Columns
## Add Columns

In [ ]:
df = df.withColumn('city',df.address.city) \
    .withColumn('postalCode',df.address.postalCode) \
    .withColumn('state',df.address.state) \
    .withColumn('streetAddress',df.address.streetAddress) \
    .withColumn('telePhoneNumber',explode(df.phoneNumber.number)) \
    .withColumns('telePhoneType',explode(df.phoneNumber.type))

## Updating Columns

In [ ]:
df = df.withColumnRenamed('telePhoneNumber','phoneNumber')

## Removing Columns

In [ ]:
df = df.drop('address','phoneNumber')
df = df.drop(df.address).drop(df.phoneNumber)

# GroupBy

In [ ]:
df.groupBy('age').count().show()

# Filter

In [ ]:
df.filter(df['age']>24).show()

# Sort

In [ ]:
peopledf.sort(peopledf.age.desc()).collect()
df.sort('age',ascending=False).collect()
df.orderBy(['age','city'],ascending=[0,1]).collect()

# Missing & Replacing Values

In [ ]:
df.na.fill(50).show()
df.na.drop().show()
df.replace(10,20).show()

# Repartitioning

In [ ]:
df.repartition(10).rdd.getNumPartions()
df.coalesce(1).rdd.getNumPartions()

# Running SQL Quries

## Registering dataFrames as Views

In [ ]:
peopledf.createGlobalTempView('people')
df.createTempView('customer')
df.createOrReplaceTempView('customer')

## Querying Views

In [ ]:
df5 = spark.sql('SELECT * FROM customer').show()
peopledf2 = spark.sql('SELECT * FROM global_temp.people').show()

# Output

## Data Structures

In [ ]:
rdd1 = df.rdd #convert df into RDD
df.toJSON().first() #convert df into a RDD of string
df.toPandas() #convert df into pandas dataframe

## Write & Save to Files

In [ ]:
df.select('firstName','city').write.save('nameAndCity.parquet')
df.select('firstName','age').write.save('namesAndAges.json',format='json')

# Stop SparkSession

In [ ]:
spark.stop()

In [19]:
df_stats

Empty DataFrame
Columns: [country, 1, 2]
Index: []

In [21]:
import numpy as np
df_stats.country = np.array([1,2,3])

In [22]:
df_stats

   country    1    2
0        1  NaN  NaN
1        2  NaN  NaN
2        3  NaN  NaN